{% extends 'donor_dash.html' %}
{% block title %}My Donations{% endblock %}
{% block content %}
    <h2>My Donation History</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Amount Donated</th>
        </tr>
        {% for donation in donations %}
        <tr>
            <td>{{ donation.date }}</td>
            <td>{{ donation.location }}</td>
            <td>{{ donation.amount }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
